.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    /* border: 1px solid #7F669D; */
    box-shadow: 0px 2px 5px 0px #7F669D;
    border-radius: 10px;
    padding: 0 10px;

}

.cart-item > img{
    width: 10%;
    height: 80px;
    object-fit: cover;
}

.cart-item-info{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7F669D;
    
    
}

.cart-item-info > h2{
    font-family: monospace;
}