.navbar-container{
    width: 100%;
    height: 10vh;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}


.container-logo{
    width: 10%;
}

.logo-navbar{
    width: 80%;
    height: 10vh;
    object-fit: cover;
}

.navbar{
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.navbar-item{
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    /* box-shadow: 2px 2px 2px 2px grey; */
    padding: 7px 10px;
    border-radius: 10px;
    background-color: #e1d4c7;
    text-align: center;
}

.container-cart{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.counter-cart{
    position: absolute;
    top: 4%;
    right: 35%;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}